{% include "index.html" %}
{% block content %}
<style>
    footer{
        background-color: #000000;
        color: white;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    footer ul{
        background-color: #000000;
    }
    footer li{
        font-size: 18px;
    }
</style>
<footer class="px-3  ">
    <div class="d-flex justify-content-center pb-5">
        <h1>Select Your Needs</h1>
    </div>
   <div class="d-flex  justify-content-around ">
    <div >
        <div>
            <h5>HOME</h5>
        </div>
        <div>
            <h5>HISTORICAL PLACE</h5>
            <ul type="none">
                <div class="d-flex gap-1">
                    <i class="bi bi-chevron-right"></i><li>Amber Fort</li>
                </div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Nahargargh</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jai Fort</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jal Mahal</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Hawa Mahal</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jantar Mantar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Albert Hall</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Park</li></div>
            </ul>
        </div>
        <div>
            <h5>HOTEL</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Hotel</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Restuarant</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Club</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Cafe</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Resort</li></div>
                
            </ul>
        </div>
        <div>
            <h5>FIND LOCATION</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jotwara</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Shastri Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Mansarovar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Patrkar Colony</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Vaishali Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Malviya Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Sindhi Camp</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Bani Park</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Adarsh Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jagatpura</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Pratap Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Durgapura</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>C-Scheme</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Ajmeri Gate</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Sanganeri Gate</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Gaat Gate</li></div>
                
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h5>HOSPITAL</h5>
        <ul type="none">
            <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Private Hospital</li></div>                                                              
            <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Medical</li></div>
            <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Govt. Hospital</li></div>
            <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Diognestics Center</li></div>
            <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Blood Bank</li></div>
        </ul>
        </div>
        <div>
            <h5>CINEMA HALL</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Raj Mandir</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Inox </li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Kohinoor</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Golcha</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Galexy</li></div>
                
            </ul>
        </div>
        <div>
            <h5>MARKETS</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Raiser Plaza </li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Indra Bazar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Kishanpoll </li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Ridhi Sidhi </li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Barkat Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Sanganer</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Muhana Mandi</li></div>
                
            </ul>
        </div>
        <div>
            <h5>Railway Station</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jaipur Juction</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Gandhi Nagar</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Durgapura</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Kanakpura</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Khatipura</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Sanganer</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Jagatpura</li></div>
            </ul>
        </div>
        <div>
            <h5>METRO STATION</h5>
        </div>
        <div>
            <h5>BUS STAND</h5>
        </div>
    </div>

    <div>
        <div>
            <h5>GOVT. OFFICE</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Police Haedquater</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>High Court</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Session Court</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>JDA Office</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Collectory</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Greater Nagar Nigam Head Office</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Heritage Nagar Nigam Head Office</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Vidhan Sabha</li></div>
            </ul>
        </div>
        <div>
            <h5>MALL</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>World Trade Park</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Gaurav Tower</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Hyper City</li></div>
            </ul>
        </div>
        <div>
            <h5>EDUCATION</h5>
            <ul type="none">
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Private College</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Govt. College</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Private School</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Govt. School</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Couching for Govt. Job </li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Couching for IT Sector</li></div>
                <div class="d-flex gap-1"><i class="bi bi-chevron-right"></i><li>Couching for Fight Exam</li></div>
            </ul>
        </div>
    </div>
   </div>


        
</footer>
{% endblock  %}